.update-page {
    background-color: #c5944e;
    border-radius: 5px;
    margin: 40px auto 0;
    height: 520px;
    vertical-align: middle;
    padding: 20px 0;
    color: #fff;
    overflow-y: auto
}

.profile {
    margin-bottom: 30px;
    font-size: 80px;
}

.update-form > div {
    margin-bottom: 8px;
    font-size: 13px;
}