<div class="modal-header">
    <h4 class="modal-title">Enter Secret Key</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form class="form-inline secret-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
        <div class="form-group col-sm-12">
          <input type="text" class="form-control col-sm-12" name="secret" placeholder="Enter OTP here" formControlName="secret" required>
        </div>
        
        <div class="form-group col-sm-12">
          <input type="submit" class="col-sm-12 btn btn-primary" value="Submit">
        </div>

        <div class="form-group col-sm-12">
          <input type="button" class="col-sm-12 btn btn-warning" value="SIGN IN" (click)="onSignIn()">
        </div>

      </form>  
  </div>
  