<div class="col-md-4 register-page text-center">
    <h2>SIGN UP</h2>
    <div class="profile">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </div>
    
    <form class="form-inline register-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
        <div class="form-group col-sm-12">
          <input type="text" class=" form-control col-sm-12" name="fname" placeholder="Enter First Name" formControlName="fname" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="text" class=" form-control col-sm-12" name="mname" placeholder="Enter Median Name" formControlName="mname" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="text" class=" form-control col-sm-12" name="lname" placeholder="Enter Last Name" formControlName="lname" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="number"  class=" form-control col-sm-12" name="cid" placeholder="Enter Customer Id" formControlName="cid" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="text" class=" form-control col-sm-12" name="uname" placeholder="Enter User Name" formControlName="uname" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="password" class="form-control col-sm-12" name="passwd" placeholder="Enter Password" formControlName="passwd" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="number"  class=" form-control col-sm-12" name="contactNumber" placeholder="Enter Contact Number" formControlName="contactNumber" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="email"  class="form-control col-sm-12" name="email" placeholder="Enter Email Id" formControlName="email" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="text"  class="form-control col-sm-12" name="address" placeholder="Enter Address" formControlName="address" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="select"  class="form-control col-sm-12" name="upload" placeholder="Enter Thumb Scan" formControlName="upload" required>
        </div>


        <div class="form-group col-sm-12">
          <input type="submit" class="col-sm-12 btn btn-primary" value="REGISTER">
        </div>

        <div class="form-group col-sm-12">
          <input type="button" class="col-sm-12 btn btn-warning" value="SIGN IN" (click)="onSignIn()">
        </div>

    </form>

    <p class="text-danger">{{errorMessage}}</p>
    <p class="text-success">{{successMessage}}</p>
    
  </div>
  